.footer {
  text-align: center;
  padding: 30px;
  background-color: #2c2b2b;
  margin-top: 30px
}

.footer a {
  font-size: 30px;
  color:  #B7918C;
}

.footer a:hover {
  color:  #FFC857;
}
.footer p {
  color: #6B6C6C;
}

.footer .fas {
  color: #BF0F12;
}
